
# Ignore `bin` dir
*/bin/*

# Unignore all `.jar` in `bin` dir
#!*/bin/*.jar

# Ignore all .so files
*.so
*.o
*.in
*.la
*.lo

# Ignore all .pyc files
*.pyc
E2ETesting.log
report.html
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
